<div class="container stock-container">
  <div class="row name">
    <div class="col-sm">
      <h3>{{ stock.name + " (" + stock.code + ")" }}</h3>
    </div>
    <div class="row">
      <div class="col-sm">{{stock.exchange}}</div>
    </div>
  </div>
  <div class="row">
    <div
      class="price"
      [class.positive]="stock.price > stock.previousPrice"
      [class.negative]="stock.price <= stock.previousPrice"
    >
      $ {{ stock.price }}
      
    </div>
    <div>
        <button (click)="onToggleFavorite($event)" *ngIf="!stock.favorite">
            Add to Favorite
        </button>
    </div>
    <div>
        <button (click)="onToggleFavorite($event)" *ngIf="stock.favorite">
            Remove from Favorite
        </button>
    </div>
  </div>
</div>

