
<div class="card"  routerLink="/stock/{{stock.code}}">
  <div class="card-body">
    <h5 class="card-title">{{ stock.name + " (" + stock.code + ")" }}</h5>
    <p class="card-text">{{stock.exchange}}</p>
    <p
    class="price"
    [class.positive]="stock.price > stock.previousPrice"
    [class.negative]="stock.price <= stock.previousPrice"
  >
    $ {{ stock.price }}
    
  </p>
    <button class="btn btn-primary" (click)="onToggleFavorite($event)" *ngIf="!stock.favorite">
      Add to Favorite
  </button>
  <button class="btn btn-danger" (click)="onToggleFavorite($event)" *ngIf="stock.favorite">
    Remove from Favorite
</button>
  </div>
</div>

