<nav class="navbar navbar-light __nav">
  <div class="container links">
    <ul class="nav justify-content-center ">
      <li class="nav-item active">
       <a routerLink="/login"  class="nav-link mr-2 text-white"  routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link mr-2 text-white"  routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
      <a routerLink="/stocks/list" class="nav-link mr-2 text-white"  routerLinkActive="active">Stock List</a>        
      </li>
      <li class="nav-item">
      <a routerLink="/stocks/create" class="nav-link text-white"  routerLinkActive="active">Create Stock</a>        
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link text-white"  routerLinkActive="active">Logout</a>        
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <div class="container" style="text-align:center">
  <h1>{{ title }}!</h1>
  <h4>App level: {{messageService.message}}</h4>
  <app-stock-list></app-stock-list>
  <app-create-stock></app-create-stock>
</div> -->