<div class="container">
  <div class="col-6 offset-3">
    <h2>Create Stock Form</h2>
    <div class="form-group">
       
        <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
          <div formArrayName="notablePeople">
            <div
              *ngFor="let person of notablePeople.controls; let i = index"
              [formGroupName]="i"
              class="notable-people"
            >
              <div>Person {{ i + 1 }}</div>
              <div>
                <input
                  type="text"
                  placeholder="Person Name"
                  formControlName="name"
                />
              </div>
              <div>
                <input
                  type="text"
                  placeholder="Person Title"
                  formControlName="title"
                />
              </div>
              <button type="button" (click)="removeNotablePerson(i)">
                Remove Person
              </button>
            </div>
          </div>
          <button type="button" (click)="addNotablePerson()">
            Add Notable Person
          </button>
          <button type="submit">Submit</button>
          <button type="button" (click)="resetForm()">Reset</button>
        </form>
      </div>
  </div>
  
  <div class="col-6 offset-3">
    <p class="mt-3">Form Control value: {{ stockForm.value | json }}</p>
    <p>Form Control status: {{ stockForm.status | json }}</p>
  </div>
</div>
